/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
.contant_box_404{ margin-top:-50px;}
.code-button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background: #1b1f23;
  color: #fff;
  padding: 15px 25px; /* Bigger padding */
  border-radius: 12px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px; /* Bigger font size */
  font-weight: bold; /* Makes text bolder */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  z-index: 999;
}

.code-button:hover {
  background-color: #2ea44f;
  transform: scale(1.08);
}

